.Main {
  margin: 1rem;
  display: flex;
}
.header {
  margin-top: 3rem;
  margin-left: 3rem;
  height: 5rem;
  font-size: 1.5rem;
}
.leftBook {
  width: 50%;
  float: left;
}
.rightBook {
  width: 50%;
}
.line {
  border-right: 0.2rem solid rgb(105, 104, 104);
  width: 0.01rem;
  height: 100vh;
}
.book_img {
  width: 17rem;
}
.book {
  font-size: 1.2rem;
  width: 17rem;
  float: left;
  padding: 2rem;
  padding-bottom: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}
.bookTitle {
  text-align: center;
}
.bookSelect {
  overflow: auto;
  padding-left: 3rem;
}
.next {
  margin: 1rem;
  margin-top: 0;
  float: right;
}
.next_bt {
  float: left;
}
.pageCount {
  float: left;
  margin-top: 0;
  margin-right: 0.8rem;
  padding-top: 0.5rem;
  font-weight: bold;
  font-size: 1.7rem;
}
