.B1Q1 {
  background-color: #002943;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.exp {
  text-align: center;
  padding-bottom: 0;
  padding-top: 1.3rem;
  margin-left: 23rem;
  height: 3rem;
  width: 25rem;
  background-color: white;
  border-radius: 0.5rem;
  font-weight: 700;
}
.Content {
  padding: 1rem;
  text-align: center;
  margin: 3rem;
  height: 40rem;
  width: 65rem;
  background-color: white;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.paint1 {
  margin-left: 15rem;
  float: left;
}
.paint2 {
  margin-left: 15rem;
}
.img {
  border: 0.2rem solid rgb(105, 104, 104);
  width: 11rem;
  height: 11rem;
  margin-bottom: 1rem;
}
.text_r {
  color: rgb(201, 24, 24);
}
.text_t {
  color: rgb(13, 97, 5);
}
.micro {
  margin-bottom: 1rem;
  width: 7rem;
}
.answer {
  color: #5c5a5a;
}
.img2 {
  width: 17rem;
}
.paint {
  margin-left: 10rem;
  float: left;
}
.btn_div {
  left: 0;
  right: 0;
  /*position: fixed;*/
}

.btn1 {
  margin-top: 10rem;
  bottom: 3rem;
  border: none;
  color: #ffffff;
  padding: 1.1rem 3rem;
  width: 28rem;
  border-radius: 1rem;
  font-size: 2.7rem;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
  background-color: #093652;
}
.btn2 {
  margin-top: 5rem;
  bottom: 3rem;
  border: none;
  background-color: #d47081;
  color: #ffffff;
  padding: 1.1rem 3rem;
  width: 28rem;
  border-radius: 1rem;
  font-size: 2.7rem;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
}
.quit {
  float: right;
  margin-right: 1rem;
}
.quit_img {
  width: 3rem;
}
